<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>CIMS</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>net.ayman.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFormServlet</display-name>
    <servlet-name>UserFormServlet</servlet-name>
    <servlet-class>net.ayman.web.UserFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFormServlet</servlet-name>
    <url-pattern>/UserFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>net.ayman.web.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRequestServlet</display-name>
    <servlet-name>DeleteRequestServlet</servlet-name>
    <servlet-class>net.ayman.web.DeleteRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRequestServlet</servlet-name>
    <url-pattern>/DeleteRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRequestServlet</display-name>
    <servlet-name>EditRequestServlet</servlet-name>
    <servlet-class>net.ayman.web.EditRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRequestServlet</servlet-name>
    <url-pattern>/EditRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>net.ayman.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>net.ayman.web.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>net.ayman.web.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>net.ayman.web.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceServlet</display-name>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>net.ayman.web.ServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>/ServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceDao</display-name>
    <servlet-name>ServiceDao</servlet-name>
    <servlet-class>net.ayman.dao.ServiceDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceDao</servlet-name>
    <url-pattern>/ServiceDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServiceServlet</display-name>
    <servlet-name>DeleteServiceServlet</servlet-name>
    <servlet-class>net.ayman.web.DeleteServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServiceServlet</servlet-name>
    <url-pattern>/DeleteServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServiceServlet</display-name>
    <servlet-name>EditServiceServlet</servlet-name>
    <servlet-class>net.ayman.web.EditServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServiceServlet</servlet-name>
    <url-pattern>/EditServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddService</display-name>
    <servlet-name>AddService</servlet-name>
    <servlet-class>net.ayman.web.AddService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddService</servlet-name>
    <url-pattern>/AddService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServiceServlet</display-name>
    <servlet-name>AddServiceServlet</servlet-name>
    <servlet-class>net.ayman.web.AddServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServiceServlet</servlet-name>
    <url-pattern>/AddServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitLocation</display-name>
    <servlet-name>SubmitLocation</servlet-name>
    <servlet-class>net.ayman.web.SubmitLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitLocation</servlet-name>
    <url-pattern>/SubmitLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompletionAndStaffServlet</display-name>
    <servlet-name>CompletionAndStaffServlet</servlet-name>
    <servlet-class>net.ayman.web.CompletionAndStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompletionAndStaffServlet</servlet-name>
    <url-pattern>/CompletionAndStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompletionPendingServlet</display-name>
    <servlet-name>CompletionPendingServlet</servlet-name>
    <servlet-class>net.ayman.web.CompletionPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompletionPendingServlet</servlet-name>
    <url-pattern>/CompletionPendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestHistoryServlet</display-name>
    <servlet-name>RequestHistoryServlet</servlet-name>
    <servlet-class>net.ayman.web.RequestHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHistoryServlet</servlet-name>
    <url-pattern>/RequestHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStaffServlet</display-name>
    <servlet-name>AddStaffServlet</servlet-name>
    <servlet-class>net.ayman.web.AddStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStaffServlet</servlet-name>
    <url-pattern>/AddStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffServlet</display-name>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>net.ayman.web.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/StaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStaffServlet</display-name>
    <servlet-name>EditStaffServlet</servlet-name>
    <servlet-class>net.ayman.web.EditStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStaffServlet</servlet-name>
    <url-pattern>/EditStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStaffServlet</display-name>
    <servlet-name>DeleteStaffServlet</servlet-name>
    <servlet-class>net.ayman.web.DeleteStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStaffServlet</servlet-name>
    <url-pattern>/DeleteStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProvidedByServlet</display-name>
    <servlet-name>ProvidedByServlet</servlet-name>
    <servlet-class>net.ayman.web.ProvidedByServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvidedByServlet</servlet-name>
    <url-pattern>/ProvidedByServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProvidedByServlet</display-name>
    <servlet-name>EditProvidedByServlet</servlet-name>
    <servlet-class>net.ayman.web.EditProvidedByServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProvidedByServlet</servlet-name>
    <url-pattern>/EditProvidedByServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProvidedByServlet</display-name>
    <servlet-name>DeleteProvidedByServlet</servlet-name>
    <servlet-class>net.ayman.web.DeleteProvidedByServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProvidedByServlet</servlet-name>
    <url-pattern>/DeleteProvidedByServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProvidedByServlet</display-name>
    <servlet-name>AddProvidedByServlet</servlet-name>
    <servlet-class>net.ayman.web.AddProvidedByServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProvidedByServlet</servlet-name>
    <url-pattern>/AddProvidedByServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRequestServlet</display-name>
    <servlet-name>AddRequestServlet</servlet-name>
    <servlet-class>net.ayman.web.AddRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRequestServlet</servlet-name>
    <url-pattern>/AddRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Request0Servlet</display-name>
    <servlet-name>Request0Servlet</servlet-name>
    <servlet-class>net.ayman.web.Request0Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request0Servlet</servlet-name>
    <url-pattern>/Request0Servlet</url-pattern>
  </servlet-mapping>
</web-app>